.whsfi_hide_featured #poststuff .column-primary { width: 71%; padding: 0; float: left; }
.whsfi_hide_featured #poststuff .column-secondary { width: 28%; float: right; padding: 0; }
.whsfi_hide_featured li { line-height: 1.4em; }